<div class="jumbotron">
    <h1 class="display-4">Posts App</h1>
    <p class="lead">Online posting application</p>
    <hr class="my-4">
    <a class="btn btn-secondary btn-lg" href="/posts/list" role="button">
        View Posts
    </a>
    <a class="btn btn-success btn-lg" href="/posts/create" role="button">
        New Post
        </button>
    </a>
</div>